.react-bs-table-pagination div.row div.col-md-6:nth-child(2){
  text-align:left !important; 
}
.react-bootstrap-table-page-btns-ul{
  float: right !important;
  /* margin-left:-90px; */
}

.react-bootstrap-table{
  background-color:white;
}

.table td, .table th{
  border-top:3px solid #f5f7fc;
}

.text-row{
  border-radius: 7px;
}

#pageDropDown{
  margin:2%;
}
