@font-face {
  font-family: 'LaoUI';
  src: url('/public/fonts/LaoUI.ttf')  format('truetype');
}

body {
  font-size:100%;
  font-family: 'LaoUI' 200;
  background-color:#f5f7fc;
  color: '#121f3e',
}

.container{
  margin-top: 4em;
}

.DateInput{
  padding:0px!important;
}

.wrapper-YXn5r{
  float: right;
}

.DateRangePicker_picker{
  left:-20em!important;
}